// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    position x=1792 y=1440
    scale 1
}

// DP-6 and DP-7 are the same monitor usually at work
output "DP-7" {
    mode "2560x1440@143.967"
    position x=200 y=0
}

output "DP-6" {
    mode "2560x1440@143.967"
    position x=200 y=0
}

output "DP-3" {
   mode "2560x1440@143.967"
    position x=200 y=0
}

// DP-4 and DP-5 are the same monitor at work
output "DP-4" {
    mode "2560x1440@143.967"
    position x=2760 y=0
}

output "DP-5" {
    mode "2560x1440@143.967"
    position x=2760 y=0
}
