// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    position x=1792 y=1440
}

// DP-6 and DP-7 are the same monitor usually at work
output "DP-7" {
    position x=0 y=0
}

output "DP-6" {
    position x=0 y=0
}

output "HDMI-A-1" {
    position x=2560 y=0
}
