layout {

    focus-ring {
        active-color   "#e4a767"
        inactive-color "#241f19"
        urgent-color   "#c58a56"
    }

    border {
        active-color   "#e4a767"
        inactive-color "#241f19"
        urgent-color   "#c58a56"
    }

    shadow {
        color "#241f1970"
    }

    tab-indicator {
        active-color   "#e4a767"
        inactive-color "#8d4e0c"
        urgent-color   "#c58a56"
    }

    insert-hint {
        color "#e4a76780"
    }
}

recent-windows {
    highlight {
        active-color "#e4a767"
        urgent-color "#c58a56"
    }
}
