layout {

    focus-ring {
        active-color   "#e69900"
        inactive-color "#111111"
        urgent-color   "#dddddd"
    }

    border {
        active-color   "#e69900"
        inactive-color "#111111"
        urgent-color   "#dddddd"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e69900"
        inactive-color "#4c3300"
        urgent-color   "#dddddd"
    }

    insert-hint {
        color "#e6990080"
    }
}

recent-windows {
    highlight {
        active-color "#e69900"
        urgent-color "#dddddd"
    }
}
